/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp L     &kp J       &kp U        &kp Y       &kp SEMI
        &kp H     &mt LCTRL E &mt LSHFT N  &kp I       &kp O
        &kp K     &kp M   &kp COMMA      &kp DOT   &kp QUOTE
        &kp SPACE     &mo 1
      >;
    };

    fn_layer {
      bindings = <
        &kp 6     &kp 7       &kp 8        &kp 9       &kp 0
        &kp ESC   &kp LEFT    &kp DOWN     &kp UP      &kp RIGHT
        &kp TAB   &kp LALT    &kp LGUI     &kp LCTRL   &kp DEL
        &trans    &trans
      >;
    };
  };
};
